/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #4d79ff, #6bc1ff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background: rgba(255, 255, 255, 0.2);
  width: 400px;
  padding: 25px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  color: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border: none;
  border-radius: 8px;
}

.form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #fff;
  color: #4d79ff;
  font-weight: bold;
  cursor: pointer;
}

#productList {
  list-style: none;
  margin-top: 20px;
}

#productList li {
  background: rgba(255, 255, 255, 0.25);
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#productList button {
  background: #ff4d4d;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.buttons button {
  width: 48%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  background: #fff;
  color: #333;
  cursor: pointer;
  font-weight: bold;
}
